p {
  font-family: Lato;
}

.col-12,
.col-6,
.col-3 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.row-2-back {
  background-color: plum;
}

.row-3-back {
  background-color: green;
}
